@page "/"
@using MudBlazor

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    <MudPaper Elevation="4" Class="p-6" Style="padding: 1rem;">
        <MudText Typo="Typo.h4" GutterBottom="true">The Calculator Hub</MudText>
        <MudText Typo="Typo.body1" Style="text-align: justify;">
            Welcome to <i>The Calculator Hub</i>—a supportive space created with you in mind.
            Here, you'll find a range of tools designed to simplify complex calculations and empower you to make informed decisions. 
            Whether you're planning your finances or exploring new ways to understand your numbers, <i>The Calculator Hub</i> provides clear and intuitive results that can help you navigate everyday challenges.
            <i>The Calculator Hub</i> goal is to make mathematical insights accessible to everyone, regardless of experience or background.
            Enjoy exploring, experimenting, and discovering how a better grasp of your numbers can enhance your everyday life.
        </MudText>
        <br />
        <MudPaper Class="mud-quote" Elevation="0" Square="true" Style="padding: 16px; border-left: 4px solid #e0e0e0;">
            <MudText Typo="Typo.body1" Style="text-align: justify; font-style: italic; color: #555;">
                <b>Disclaimer</b><br />
                The calculations provided in this app may not be 100% accurate. 
                They are intended to give you a general idea of the computation methodology and help guide decision-making. 
                Users should verify results independently before using them for any critical or financial decisions.
            </MudText>
        </MudPaper>
        <br />
        - <MudLink Href="https://mikovilla.com" Target="_blank" Class="mt-4">
            The Author
        </MudLink>
    </MudPaper>

	<MudSpacer/>
	<br />
	<br />

    <MudTable T="object" Items="@(new object[] { new object() })" Breakpoint="Breakpoint.None">
		<HeaderContent>
			<MudTh><MudText Typo="Typo.h6">Available Calculators</MudText></MudTh>
		</HeaderContent>
		<RowTemplate Context="item">
            <MudTd>
                <div style="display: flex; flex-direction: column;">
                    <MudLink Href="/rr82018">
                        RR-8 2018
                    </MudLink>
                    <MudLink Href="/addon" Class="mt-1">
                        Add-On Interest Rate
                    </MudLink>
                    <MudLink Href="/mp2" Class="mt-1">
                        MP2 Dividend
                    </MudLink>
                </div>
            </MudTd>
		</RowTemplate>
	</MudTable>

</MudContainer>
